* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #555;
    background-color: #03045e;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    height: 100vh;
}


.clearfix {zoom:1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

/*CONTAINER*/

.container {
    height: 100vh;
    background-color: #03045e;
    width: 70%;
    margin-left: 15%;
    padding: 20px;
}

.player {
    padding: 20px;
}

.active {
    box-shadow: 0 2px 2px rgba(0,0,0,0.4);
    animation: zoom 1s linear infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.winner {
    background-color: #03045e;
}


/*LINKS*/

a:link,
a:active,
a:visited {
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 100%;
    padding: 10px;
    transform: font-size 1s;
    margin-left: 40%;
}

a:hover {
    color: #caf0f8;
    font-size: 105%;
}


/*ICONS*/
.icon-small {
    color: #caf0f8;
    display: inline-block;
    font-size: 100%;
    text-align: center;
    line-height: 120%;
    margin-top: -4px;
    vertical-align: middle;
    margin-right: 10px;
}


.icon-big {
    color: #caf0f8;
    font-size: 250%;
    display: block;
    text-align: center;
}

/*HEADINGS*/

h2 {
    font-size: 160%;
    text-align: center;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:  #fff;
    margin: 0;
}

/*GRID*/

.grid-box {
    display: none;
    background-color: #fff;
    grid-template-columns: repeat(3, 33.3%);
    grid-gap: 2px;
    padding: 0;  
}

.griditem {
    background-color: #03045e;
    font-family: 'Permanent Marker', cursive;
    color: #caf0f8;
    padding: 43px;
    text-align: center;
    font-size: 190%;
    font-weight: 300;
    overflow: hidden;
    cursor: pointer;
}

/*front*/

.front {
    background-color: #03045e;
    text-align: center;
    height: 100vh;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Arizonia', cursive;
    color: #caf0f8;
    vertical-align: middle;
    font-size: 400%;
    display: block;
    margin-top: 20%;
}

.playing {
    display: none;
}

button {
    background-color: #03045e;
    border: none;
    border-bottom: 1px solid #caf0f8;
    color: #caf0f8;
    font-family: 'Arizonia', cursive;
    font-size: 150%;
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.2s;
}
button:hover {
    transform: scale(1.05);
}







